<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.diagnostics>
		<switches>
			<add name="Remote.Disable" value="1"/>
		</switches>
	</system.diagnostics>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="Mage_Api_Model_Server_Wsi_HandlerBinding" />
				<binding name="Mage_Api_Model_Server_Wsi_HandlerBinding1">
					<security mode="Transport" />
				</binding>
				<binding name="Mage_Api_Model_Server_Wsi_HandlerBinding2" />
			</basicHttpBinding>
			<customBinding>
				<binding name="salesOrderRepositoryV1Binding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="integrationAdminTokenServiceV1Binding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="catalogInventoryStockRegistryV1Binding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="catalogProductRepositoryV1Binding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="catalogProductAttributeMediaGalleryManagementV1Binding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="backendModuleServiceV1Binding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="catalogCategoryManagementV1Binding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="backendModuleServiceV1Binding1">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="catalogCategoryManagementV1Binding1">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="catalogInventoryStockRegistryV1Binding1">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="catalogProductAttributeMediaGalleryManagementV1Binding1">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="catalogProductRepositoryV1Binding1">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="integrationAdminTokenServiceV1Binding1">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
				<binding name="salesOrderRepositoryV1Binding1">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://192.168.0.103/magento/index.php/api/v2_soap/index/"
			 binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_Wsi_HandlerBinding"
			 contract="MagentoSoapServiceReference.Mage_Api_Model_Server_Wsi_HandlerPortType"
			 name="Mage_Api_Model_Server_Wsi_HandlerPort" />
			<endpoint address="https://192.168.0.777/index.php/api/v2_soap/index/"
			 binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_Wsi_HandlerBinding1"
			 contract="MagentoSoapServiceReference_v_1_14_1_EE.Mage_Api_Model_Server_Wsi_HandlerPortType"
			 name="Mage_Api_Model_Server_Wsi_HandlerPort1" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=salesOrderRepositoryV1"
			 binding="customBinding" bindingConfiguration="salesOrderRepositoryV1Binding"
			 contract="Magento2salesOrderRepositoryV1_v_2_0_2_0_CE.salesOrderRepositoryV1PortType"
			 name="salesOrderRepositoryV1Port" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=integrationAdminTokenServiceV1"
			 binding="customBinding" bindingConfiguration="integrationAdminTokenServiceV1Binding"
			 contract="Magento2integrationAdminTokenServiceV1_v_2_0_2_0_CE.integrationAdminTokenServiceV1PortType"
			 name="integrationAdminTokenServiceV1Port" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=catalogInventoryStockRegistryV1"
			 binding="customBinding" bindingConfiguration="catalogInventoryStockRegistryV1Binding"
			 contract="Magento2catalogInventoryStockRegistryV1_v_2_0_2_0_CE.catalogInventoryStockRegistryV1PortType"
			 name="catalogInventoryStockRegistryV1Port" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=catalogProductRepositoryV1"
			 binding="customBinding" bindingConfiguration="catalogProductRepositoryV1Binding"
			 contract="Magento2catalogProductRepositoryV1_v_2_0_2_0_CE.catalogProductRepositoryV1PortType"
			 name="catalogProductRepositoryV1Port" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=catalogProductAttributeMediaGalleryManagementV1"
			 binding="customBinding" bindingConfiguration="catalogProductAttributeMediaGalleryManagementV1Binding"
			 contract="Magento2catalogProductAttributeMediaGalleryManagementV1_v_2_0_2_0_CE.catalogProductAttributeMediaGalleryManagementV1PortType"
			 name="catalogProductAttributeMediaGalleryManagementV1Port" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=backendModuleServiceV1"
			 binding="customBinding" bindingConfiguration="backendModuleServiceV1Binding"
			 contract="Magento2backendModuleServiceV1_v_2_0_2_0_CE.backendModuleServiceV1PortType"
			 name="backendModuleServiceV1Port" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=catalogCategoryManagementV1"
			 binding="customBinding" bindingConfiguration="catalogCategoryManagementV1Binding"
			 contract="Magento2catalogCategoryManagementV1_v_2_0_2_0_CE.catalogCategoryManagementV1PortType"
			 name="catalogCategoryManagementV1Port" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=backendModuleServiceV1"
			 binding="customBinding" bindingConfiguration="backendModuleServiceV1Binding1"
			 contract="Magento2backendModuleServiceV1_v_2_1_0_0_CE.backendModuleServiceV1PortType"
			 name="backendModuleServiceV1Port1" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=catalogCategoryManagementV1"
			 binding="customBinding" bindingConfiguration="catalogCategoryManagementV1Binding1"
			 contract="Magento2catalogCategoryManagementV1_v_2_1_0_0_CE.catalogCategoryManagementV1PortType"
			 name="catalogCategoryManagementV1Port1" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=catalogInventoryStockRegistryV1"
			 binding="customBinding" bindingConfiguration="catalogInventoryStockRegistryV1Binding1"
			 contract="Magento2catalogInventoryStockRegistryV1_v_2_1_0_0_CE.catalogInventoryStockRegistryV1PortType"
			 name="catalogInventoryStockRegistryV1Port1" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=catalogProductAttributeMediaGalleryManagementV1"
			 binding="customBinding" bindingConfiguration="catalogProductAttributeMediaGalleryManagementV1Binding1"
			 contract="Magento2catalogProductAttributeMediaGalleryManagementV1_v_2_1_0_0_CE.catalogProductAttributeMediaGalleryManagementV1PortType"
			 name="catalogProductAttributeMediaGalleryManagementV1Port1" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=catalogProductRepositoryV1"
			 binding="customBinding" bindingConfiguration="catalogProductRepositoryV1Binding1"
			 contract="Magento2catalogProductRepositoryV1_v_2_1_0_0_CE.catalogProductRepositoryV1PortType"
			 name="catalogProductRepositoryV1Port1" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=integrationAdminTokenServiceV1"
			 binding="customBinding" bindingConfiguration="integrationAdminTokenServiceV1Binding1"
			 contract="Magento2integrationAdminTokenServiceV1_v_2_1_0_0_CE.integrationAdminTokenServiceV1PortType"
			 name="integrationAdminTokenServiceV1Port1" />
			<endpoint address="http://hereshouldbeyourmagentostoreurl.com/soap/default?services=salesOrderRepositoryV1"
			 binding="customBinding" bindingConfiguration="salesOrderRepositoryV1Binding1"
			 contract="Magento2salesOrderRepositoryV1_v_2_1_0_0_CE.salesOrderRepositoryV1PortType"
			 name="salesOrderRepositoryV1Port1" />
		</client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
