<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="defaultLayout"
	          value="${longdate:universalTime=true} [ ${level:uppercase=true} ] | ${logger} | ${onexception: ***** EXCEPTION OCCURRED ****${newline}}${message}${onexception:${newline}${exception:format=ToString}}" />

	<targets>
		<target name="MagentoLogFile" xsi:type="File" fileName="${basedir}/log/magentosvengine.log"
		        layout="${defaultLayout}"
		        archiveEvery="Day" archiveFileName="${basedir}/log/Magentosvengine.{#####}.log"
		        archiveNumbering="Rolling" maxArchiveFiles="10" fileAttributes="Compressed" />

		<target name="console" xsi:type="Console" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
	</targets>

	<rules>
		<logger name="MagentoLogger" writeTo="MagentoLogFile" />
	</rules>
</nlog>