<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="FluentAssertions" version="3.1.229" targetFramework="net45" />
  <package id="LINQtoCSV" version="1.5.0.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="net45" />
  <package id="Netco" version="1.5.8" targetFramework="net461" />
  <package id="Netco.NLog" version="1.4.3" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="NSubstitute" version="1.7.2.0" targetFramework="net45" />
  <package id="NUnit" version="3.4.1" targetFramework="net461" />
</packages>