<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="Mage_Api_Model_Server_Wsi_HandlerBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://192.168.0.103/magento/index.php/api/v2_soap/index/"
			          binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_Wsi_HandlerBinding"
			          contract="MagentoSoapServiceReference.Mage_Api_Model_Server_Wsi_HandlerPortType"
			          name="Mage_Api_Model_Server_Wsi_HandlerPort" />
		</client>
	</system.serviceModel>
</configuration>