<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7-Zip.CommandLine" version="9.20.0" targetFramework="net45" />
  <package id="AutoMapper" version="5.2.0" targetFramework="net461" />
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="net45" />
  <package id="Netco" version="1.5.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NUnit.Console" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net461" />
</packages>